.App {
  text-align: center;
}

.Board {
  background-color: gray;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.Board > tbody > tr > td {
  width: 4ch;
  height: 4ch;
  border: 1px solid black;
}